

@media (max-width: 991px){
	.hero-image{
		height: 325px;
		width: 100%;
	}
	.footer-content{
		text-align: center;
	}
	.icon{
		justify-content: center;
	}
	.social-icon{
		justify-content: center;
	}
	.contact .contact-form {
		margin-top: 30px;
	}
}


@media (max-width: 767px){
	.hero-image{
		display: none;
	}
	.hero-content{
		text-align: center;
	}
}

@media(max-width: 575.98px) {
    .team .team-text {
        padding: 0 15px;
    }
    
    .team .team-text h2 {
        font-size: 16px;
        margin-bottom: 0;
    }

    .team .team-text h4 {
        margin-bottom: 5px;
    }

    .team .team-text p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }

}

@media (max-width: 450px){
	.navbar .navbar-brand {

	    font-size: 35px;
	   
	}
	.navbar{
		padding: 30px 20px;
	}
	
}
@media (max-width: 424px){
	.hero .hero-text h1 {
		font-size: 50px;
	}
	.icon p{
		font-size: 15px;
	}
}